<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/secondtry.css" rel="stylesheet" type="text/css">
    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-5ENDLJ2E9R"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-5ENDLJ2E9R');
</script>
<!-- Hotjar Tracking Code for My site -->
<script>
    (function(h,o,t,j,a,r){
        h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
        h._hjSettings={hjid:2114529,hjsv:6};
        a=o.getElementsByTagName('head')[0];
        r=o.createElement('script');r.async=1;
        r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
        a.appendChild(r);
    })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
</script>
    <title>I.Kea's Portfolio</title>
</head>
<body>
        
        
    
    <div class="nav">       
           <p>India Kea</p>             
            <ul>   
                <li>About</li>
                <li>Resume</li>
                <li>Contact</li>
            </ul>
            </div>

    <section class="heroImg">

         <div class="container1">    
         <div class="text">

             <h1>Designer. Researcher. Thinker.</h1>

             <p>Welcome! I’m India, but you can call me I. Kea
             <br>(yea, just like <em>that</em> IKEA).</p>

             <p>I’m so glad that you’re here. I’ve been thinking 
                about all the exceptional things that we can accomplish together.</p>
                
             <p>I am a former Clinical Counselor turned UX/UI Designer, imagining evocative pathways to a more <em>
                inclusive</em>, <em>equitable</em> and <em>deeply thoughtful</em> world.</p>

            <p>Interested in collaborating on something great?</p>

                <div id="button">
                <br><button>Let's Get To Work!</button></br></div>
                </div>
                </div>

                <div class="inline-block">
                    <img src="../ChicagoHeadshots-35.jpg">
                    </div>
       
            </section>

            <hr size="1" width="80%" color="black"> 

                <div class="featured">
                <h1>Featured Work</h1>
                </div>
            
            <section class="portfolio">

                <div class="portfolio-container"> 
                <div class="BGT">
                <div class="text">
                <h1>Black Girl TRIBE</h1>
                <em><p> UX Designer</p></em>
                <p> Nonprofit rebranding and website redesign for the 
                   betterment of Black girls.</p>

                   <br><button>Explore the Case Study</button></br>
                </div>
                </div>        
                </div>

                    <div class="inline-block">
                    <img src="../smartmockups_kloikeku.jpg"> 
                    </div>
            </section>


            <section class="portfolio">

                 <div class="portfolio-container">
                 <div class="Eunoia">
                 <div class="text">
                 <h1>Eunoia (eh-yu-no-ah)</h1>
                 <em><p>Product Designer</p></em>
                 <p>Navigating the power and possibilities of, “beautiful thinking” 
                    in practical ways.</p>
        

                 <br><button>Explore the Case Study</button></br>
                </div>
                </div>
                </div>

                <div class="inline-block">
                    <img src="smartmockups_kloldgoh.jpg"> 
                    </div>
             </section>

                <section class="portfolio">
                <div class="container4">
                <div class="Mode">
                <div class="text">
                <h1>Mode</h1>
                <em><p>Product Designer</p></em>
                <p>Taking the guesswork out of packing for the style-conscious traveler.</p>

                <br><button>Explore the Case Study</button></br>
                </div>
                </div>
                </div>

                    <div class="inline-block">
                    <img src="smartmockups_kloquy2o.jpg"> 
                    </div>
            </section>

            <div class="footer">
                <p>Copyright India Kea 2021</p>
                <ul>
                    <li>About</li>
                    <li>Resume</li>
                    <li>Contact</li>
                </ul>
        </div>
            </footer>  

</body>
</html>